name: tests

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  build:
    name: Run Tests
    runs-on: ubuntu-latest
    
    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: pcast
          POSTGRES_PASSWORD: pcast
          POSTGRES_DB: pcast_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U pcast -d pcast_test"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.25

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Get dependencies
        run: go mod download

      - name: Install goose
        run: go install github.com/pressly/goose/v3/cmd/goose@latest

      - name: Run migrations
        run: |
          cd db/migrations
          goose postgres "host=localhost port=5432 user=pcast password=pcast dbname=pcast_test sslmode=disable" up

      - name: Run tests
        run: go test -v -race -p 1 ./...
